<nav>
    <ul>
      <p> <strong><%= link_to "Runners Home", root_path %></strong> </p>
      <br>
      <p><%= link_to "Sign In", login_path %></p>
      <p><%= link_to "Sign up", signup_path %></p>
      <p><%= link_to "Sign out", logout_path , :method => :delete %></p>
    </ul>
</nav>
